@CHARSET "UTF-8";

html, body {
	margin: 0;
	height: 100%;
	font-size: 14px;
	font-family: Microsoft YaHei;
}

#content_line2 div{
	text-align:center
}

#content_line2_contact div{
	text-align:center
}

#content_line2_rate div{
	text-align:center
}

.contanier{
	width: 100%; 
	height: 100%;
}

.line2_rectangle_info{
	width:60%; 
	height:70px; 
	background-color: #9dbbdf; 
	margin:0 auto;
	text-align:center;
}

#large_memnu_list{
	display:block;
} 
#small_menu{
	display:none;
}

#small_menu_list{
	display:none;
}

/* 导航布局 */
.nav ul {
	width: 100%;
	margin:0 auto;
	height: 38px;
	padding: 0;
	list-style: none;
	text-align: center;
}

.nav ul li {
	display: inline-block;
    list-style: none;
    width:140px;
}

.nav ul li a {
	width: 140px;
	height: 28px;
	line-height: 28px;
	background: #00000000;
	color: #9dbbdf;
	margin: 10px 1px;
	font-size: 14px;
	display: block;
	font-style:italic;
	text-align: center;
	text-decoration: none;
}

.nav ul li a:hover {
	width: 140px;
	height: 28px;
	line-height: 28px;
	color: #ffffff;
	background: #6699cc;
}

.nav ul li.active a {
	width: 140px;
	height: 28px;
	line-height: 28px;
	color: #ffffff;
	background: #6699cc;
}

.nav ul li.buynow a {
	width: 140px;
	height: 28px;
	line-height: 28px;
	color: #9dbbdf;
	border:solid 1px #9dbbdf;
}

/* 分层布局 */
/* ===================================== */
/* ===============home================== */
/* ===================================== */
div #content_line1{
	width: 100%; 
	height: 100px; 
	background-color: white;
}
div #content_line2{
	width: 100%; 
	height: 450px; 
	background-color: white;

}
div #content_line3{
	width: 100%; 
	height: 600px; 
	background-color: white;
	text-align:center;
}

div #content_line4{
	width: 100%; 
	height: 600px; 
	margin-top:100px;
	background-color: #9dbbdf;
	background-image:url("../image/line_background.png"); 
	background-repeat:repeat; 
}
div #content_line5{
	width: 100%; 
	height: 500px; 
	background-color: white;
	margin-top:200px;
	text-align:center;
}
div #content_line6{
	width: 100%; 
	height: 50px; 
	background-color: #9dbbdf;
}

div #content_line_divider{
	width: 100%; 
	height: 50px; 
	margin-top:50px;
	margin-bottom:10px;
	background-color: #9dbbdf;
	background-image:url("../image/line_background.png"); 
	background-repeat:repeat; 
	text-align: center;
}

.content_line_divider_text{
	line-height: 50px; font-style: italic; color:#bad7fb; margin-left: 50px;
}

.home_text_block{
	position: relative; 
	top:-70%;
	left: 60%; 
	width:450px;
	height:350px;
	background-color: #9dbbdf; 
}

.home_content_line4_table{
	padding-left:25%; padding-top:3%; background-color: #00000000;
}

.home_content_line4_table p{
	font-family: sans-serif; color: white; 
}

#home_photo_num1{
	background-color: #9dbbdf; width:80%; height:auto;
}

#home_photo_num2{
	 z-index: 10;
}

#home_p_block_button{
	width:170px;height:48px; margin-top: 50px; border: 0; background-color: white;
}

#map_div_block{
	margin:0 auto; width:1200px;
}

#map_div_block_left{
	float: left;width:50%;
}

#map_div_block_right{
	float: left;width:50%;
}

#map_div_block_right_text{
	margin-left: 10px; margin-top: 50px;
}

#content_line4 p{
	color: white;
}

#could_div_imagine1{
	height:300px;text-align:center;width:1000px;margin:0px auto;
}

#could_div_imagine1_level1{
	float:left;width:450px;
}

#could_div_imagine1_level2{
	float:left;width:450px;
}

#could_div_imagine1_level3{
	float:left;width:100px;
}

#could_div_imagine2{
	height:300px;text-align:center;width:1000px;margin:0px auto;
}

#could_div_imagine2_level1{
	float:left; width:450px;
}

#could_div_imagine2_level2{
	float:left; width:450px;
}

/* ===================================== */
/* ==============hotel================== */
/* ===================================== */
div #content_line1_hotel{
	width: 100%; 
	height: 100px; 
	background-color: white;
}
div #content_line2_hotel{
	width: 100%; 
	height: 600px; 
	background-color: white;

}

div #content_line3_hotel{
	width: 100%; 
	height: 500px; 
	background-color: #9dbbdf;
	background-image:url("../image/line_background.png"); 
	background-repeat:repeat; 
}

div #content_line4_hotel{
	width: 100%; 
	height: 500px; 
	margin-top:100px;
	background-color: #9dbbdf;
	background-image:url("../image/line_background.png"); 
	background-repeat:repeat; 
}
div #content_line5_hotel{
	width: 100%; 
	height: 300px; 
	background-color: white;
	margin-top:100px;
	text-align:center;
}
div #content_line6_hotel{
	width: 100%; 
	height: 50px; 
	background-color: #9dbbdf;
}

#content_line3_hotel_div0{
	margin:0px auto; width:1200px; padding:50px;
}
#content_line3_hotel_div1{
	float:left;  width:650px;
}
#content_line3_hotel_div2{
	padding-top:50px; padding-right:50px;
}

#content_line4_hotel_div0{
	margin:0px auto; width:1200px; padding:30px;
}
#content_line4_hotel_div1{
	float:left; width:550px; padding-top:30px; padding-right:50px;
}

/* ===================================== */
/* ===============rate================== */
/* ===================================== */
div #content_line1_rate{
	width: 100%; 
	height: 100px; 
	background-color: white;
}

div #content_line2_rate{
	width: 100%; 
	height: 100px; 
	background-color: white;
	margin-bottom: 100px;
}

div #content_line3_rate{
	width: 100%; 
	height: 1000px; 
	background-color: white;
}

div #content_line5_rate{
	width: 100%; 
	height: 500px; 
	background-color: white;
	margin-top:100px;
	text-align:center;
}

div #content_line6_rate{
	width: 100%; 
	height: 50px; 
	background-color: #9dbbdf;
}

div .book_block{
	position:absolute; 
	top:310px; 
	width:200px; 
	height:320px; 
	border: solid 1px black; 
	padding: 20px; 
	margin-left:100px;
	background-color: white;
	display:block;
}

div .book_block_hide{
	width:600px; 
	height:320px; 
	border: solid 1px black; 
	padding: 20px; 
	background-color: white;
	display:none;
}

div .bottom_content{
	width:500px;
}

#property_title{
	font-size: 1.8em;font-weight: bold; display:block;
}

#rate_photo_table{
	width:60%; margin:0 auto;
}

.book_block_in{
	margin: 0 auto; width:200px;height:80px;
}

.book_block_in_lv1{
	width:1px; height:80px; background-color:black;  float:left;
}

.book_block_in_lv2{
	width:auto; height:80px; margin-left: 20px; float:left;
}

#book_content_table{
	margin: 0 auto;width:200px;height:160px;
}

#book_content_table input{
	padding-left:10px; width:190px;height:35px; border:solid #000 1px;
}


.book_button{
	width:200px;
	height:40px; 
	background-color: #9dbbdf; 
	border:0; 
	color:white; 
	font-size: 1.2em; 
	font-weight: normal;
}
/* ===================================== */
/* =============contact================= */
/* ===================================== */
div #content_line1_contact{
	width: 100%; 
	height: 100px; 
	background-color: white;
}

div #content_line2_contact{
	width: 100%; 
	height: 100px; 
	background-color: white;
	margin-bottom: 100px;
}
div #content_line3_contact{
	width: 100%; 
	height: 500px; 
	background-color: white;
	margin-bottom: 100px;
}

div #content_line4_contact{
	width: 100%; 
	height: 500px; 
	margin-top:200px;
	background-color: #9dbbdf;
	background-image:url("../image/line_background.png"); 
	background-repeat:repeat; 
}

div #content_line5_contact{
	width: 100%; 
	height: 500px; 
	background-color: white;
	margin-top: 150px;
	text-align:center;
}

div #content_line6_contact{
	width: 100%; 
	height: 50px; 
	background-color: #9dbbdf;
}

#content_line4_contact_div0{
	margin:0px auto; width:1200px; padding:50px;
}

#content_line4_contact_div1{
	float:left; width:550px; padding-top:50px; padding-right:50px;
}


.contact_input{
	width:300px;
	height:35px; 
	background-color: #ebf1f9;
	border:solid #000 1px;
}

.contact_input_but{
	background-color: #4a5868; 
	width:80px; 
	height:40px; 
	color:white; 
	border: 0;
}

.line3_text_block{
	width:50%; 
	height:80px;  
	margin:0 auto;
	text-align:center;
}

.foot-span{
	margin-left: 40%; 
	line-height: 40px;
	font-size:1.2em;
	color:white;
}


