@CHARSET "UTF-8";

::-webkit-input-placeholder { /* WebKit browsers */ 
	color: #b9c9e7; 
	font-size: 1.2em;
	font-weight: bold;
} 
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */ 
	color: #b9c9e7; 
	font-size: 1.2em;
	font-weight: bold;
} 
::-moz-placeholder { /* Mozilla Firefox 19+ */ 
	color: #b9c9e7; 
	font-size: 1.2em;
	font-weight: bold;
} 
:-ms-input-placeholder { /* Internet Explorer 10+ */ 
	color: #b9c9e7; 
	font-size: 1.2em;
	font-weight: bold;
} 


