@CHARSET "UTF-8";

::-webkit-input-placeholder { /* WebKit browsers */ 
	color: black; 
	font-size: 1em;
	font-weight:bold;
} 
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */ 
	color: black; 
	font-size: 1em;
	font-weight:bold;
} 
::-moz-placeholder { /* Mozilla Firefox 19+ */ 
	color: black; 
	font-size: 1em;
	font-weight:bold;
} 
:-ms-input-placeholder { /* Internet Explorer 10+ */ 
	color: black; 
	font-size: 1em;
	font-weight:bold;
} 

